export AWS_REGION=ap-northeast-1
export AWS_ACCESS_KEY_ID=local-taskmanager
export AWS_SECRET_ACCESS_KEY=local-taskmanager-key

# postgres
export DATABASE_URL=postgresql://taskmanager:secret@localhost:5432/taskmanager
